@charset "utf-8";
/* CSS Document */

body{
	background-color: #1c1d1f;
}
.row{
	color:white!important;
}
 .color-menu{
	background-color:#5624d0!important;
}
.dropdown-menu {
	background-color:#5624d0!important;
}
.color-menu a{
	color:white;
}
html {
  min-height: 100%;
  position: relative;
}
.titulo_carusel{
   font-size: 36px;
   text-align: center;
   color:white;
   background: rgba(0, 0, 0, 0.7)
}
body {
  margin: 0;
  margin-bottom: 40px;
}
.texto-login{
	color:white;
	text-align: center;
}
.resultado{
    color:white!important;
}
.columna-login{
	border-radius: 10px;
	background-color: #5624d0!important;	
}
.texto-centrado{ 
	text-align: center;
	color:white;
}
.card-body{
    color:white;
    font-weight: bold;
    background-color: #1c1d1f;
}
footer {
  background-color:#5624d0!important;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  color: white;
  text-align: center;
}
.pie{
    padding-top: 5px;
}
.card-header{
    background-color:#6600ff;
}
.titulos{
    text-decoration: underline;
}
a {
    color: white; 
    text-decoration: none;
}
a:hover {
    color: white; 
    text-decoration: none;
}
a:visited {
    color: white; 
    text-decoration: none;
}

.parpadea {
  text-align: center;
  color:white!important;
  animation-name: parpadeo;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

  -webkit-animation-name:parpadeo;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
}

@-moz-keyframes parpadeo{  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@-webkit-keyframes parpadeo {  
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
   100% { opacity: 1.0; }
}

@keyframes parpadeo {  
  0% { opacity: 1.0; }
   50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}